requests
trafilatura
tqdm
pdfplumber
PyPDF2
selenium
webdriver_manager
geopy
langchain
faiss-cpu
tiktoken
langchain-community
langchain-classic
langchain-openai
pypdf
python-dotenv
ipykernel
pandas
langchain-text-splitters
pymupdf
unstructured
python-docx
docx2txt
unstructured[docx]
unstructured[xlsx]
openpyxl
jq
matplotlib

# Embeddings
sentence-transformers
langchain-huggingface
chromadb

# LLMs
langchain-groq

#VectorDb
langchain-qdrant
qdrant-client

# Semantic Chunking
langchain-experimental

# Hybrid Search
rank-bm25

wikipedia
langchain-ollama

fastapi
uvicorn
python-dotenv
sqlalchemy 
joblib
numpy 
pandas
seaborn
matplotlib
scikit-learn
authlib
passlib
bcrypt==4.0.1
pydantic-settings
pytest
httpx
redis
redis[async]
snakeviz
line_profiler
locust
prometheus-fastapi-instrumentator
ipykernel
xgboost
python-jose[cryptography]
psycopg2-binary
asyncpg
email-validator
pdfplumber
python-multipart

alembic